/*
** Root
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

html {
  scroll-behavior: smooth;
}

html, body {
  background-color: #f4f4f4;
}

iframe {
  width: 100%;
  border: 0;
}

.clear {
  clear: both;
}

.col-md-4 {
  width: 33.33%;
  float: right;
}

.col-md-6 {
  width: 50%;
  float: left;
}

.col-md-8 {
  width: 66.66%;
  float: left;
}

.col-md-12 {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.fa-x {
  font-size: 1.8em;
}

/*
** Header
*/
header {
  padding: 30px 2%;
  background-color: #ffffff;
}

header .menu-desktop {
  float: left;
}

header .menu-mobile {
  display: none;
}

header .menu-desktop a {
  text-decoration: none;
  color: #2d2d2d;
}

header .menu-desktop ul {
  list-style-type: none;
}

header .menu-desktop ul li {
  margin-left: 12px;
  display: inline-block;
}

header .menu-desktop ul li.active {
  font-weight: bold;
}

header .social {
  float: right;
}

header .social a {
  color: #2d2d2d;
  margin-right: 10px;
  text-decoration: none;
}

/*
** Feature
*/
section.feature {
  background: url('../img/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  max-height: 500px;
}

/*
** About
*/
section.about {
  background-color: #ffffff;
  padding: 5rem 10%;
}

section.about .content {
  margin: 0 auto;
  text-align: center;
}

section.about .content h2 {
  text-align: left;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 40px;
  color: #2d2d2d;
}

section.about .content p {
  margin-top: 10px;
  text-align: justify;
  color: #2d2d2d;
}

section.about .content img {
  width: 80%;
  margin: 20px 0;
  border-radius: 50%;
}

section.about .content p.collapse-text {
  display: none;
}

section.about .content input#collapse-button {
  margin: 1rem 0 2rem 0;
  padding: 7px;
  background-color: #ff7061;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

/*
** Portfolio
*/
section.portfolio {
  padding: 5rem 10%;
}

section.portfolio .content {
  margin: 0 auto;
}

section.portfolio .content h2.title {
    text-align: left;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 3rem;
    color: #2d2d2d;
    position: relative;
}

section.portfolio .content .slider .col-md-4 iframe {
  padding: 5px;
  height: 300px;
  width: 100%;
}

/*
** Blog
*/
section.blog {
  padding: 5rem 10%;
  background-color: #ffffff;
}

section.blog .content {
  margin: 0 auto;
}

section.blog .content h2.title {
  text-align: left;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 3rem;
  color: #2d2d2d;
  position: relative;
}

/* section.blog .content h2.title::before {
  content: "";
  width: 7%;
  border-bottom: solid 2px #2d2d2d;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
} */

section.blog .content .box {
  /* background-color: #ffffff;
  padding: 30px; */
  margin-bottom: 3rem;
  /* border-top: 8px solid #ff7061; */
  /* -webkit-box-shadow: 6px 6px 5px 0px rgba(45,45,45,0.5);
  -moz-box-shadow: 6px 6px 5px 0px rgba(45,45,45,0.5);
  box-shadow: 6px 6px 5px 0px rgba(45,45,45,0.5); */
}

section.blog .content .box img {
  width: 100%;
  padding: 1%;
}

section.blog .content .box h1.article-title {
  margin-bottom: 20px;
  color: #2d2d2d;
  font-size: 32px;
}

section.blog .content .col-md-8 .article .col-md-6 p.hashtag {
  margin-top: 20px;
  font-weight: bold;
  font-size: 14px;
  font-style: italic;
  color: #ff7061;
}

section.blog .content .col-md-8 .article .col-md-6 .article-tag {
  text-align: right;
  font-weight: bold;
  color: #ff7061;
}

section.blog .content .col-md-8 .article .col-md-6 .article-text {
  margin: 35px 10px;
  text-align: justify;
}

section.blog .content .col-md-8 .article .col-md-6 .article-button {
  text-align: center;
}

section.blog .content .col-md-8 .article .col-md-6 .article-button input {
  padding: 5px 10px;
  border: 0;
  background-color: #ff7061;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

section.blog .content .col-md-8 .partnership .partner {
  text-align: center;
}

section.blog .content .col-md-8 .partnership .partner img {
  width: 80%;
  background-color: #ffffff;
  padding: 0.5%;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(255,112,97,1);
  -moz-box-shadow: 0px 0px 5px 2px rgba(255,112,97,1);
  box-shadow: 0px 0px 5px 2px rgba(255,112,97,1);
}

section.blog .content .col-md-4 .sidebar {
  margin-left: 60px;
  max-width: 320px;
}

section.blog .content .col-md-4 .sidebar:first-child {
  /* margin-top: 110px; */
}

section.blog .content .col-md-4 .sidebar:not(:last-child) {
  margin-bottom: 40px;
}

section.blog .content .col-md-4 .sidebar h2 {
  line-height: 50px;
  margin-bottom: 0;
  color: #ffffff;
  background-color: #ff7061;
  font-size: 30px;
  text-align: center;
  width: 100%;
}

section.blog .content .col-md-4 .sidebar img {
  max-width: 100%;
}

section.blog .content .col-md-4 .sidebar .sidebar-social {
  box-shadow: 6px 6px 5px 0px rgba(45,45,45,0.5);
}

section.blog .content .col-md-4 .sidebar .sidebar-social .social-icons {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
}

section.blog .content .col-md-4 .sidebar .sidebar-social .social-icons a {
  color: #2d2d2d;
  margin-right: 10px;
  text-decoration: none;
}

/*
** Partnership
*/
section.partnership {
  padding: 5rem 10%;
  background-color: #ffffff;
}

section.partnership .content {
  margin: 0 auto;
}

section.partnership .content h2.title {
  text-align: left;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 3rem;
  color: #2d2d2d;
  position: relative;
}

/* section.partnership .content h2.title::before {
  content: "";
  width: 7%;
  border-bottom: solid 2px #2d2d2d;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
} */

section.partnership .content .box {
  /* background-color: #ffffff;
  padding: 30px; */
  margin-bottom: 3rem;
  /* border-top: 8px solid #ff7061; */
  /* -webkit-box-shadow: 6px 6px 5px 0px rgba(45,45,45,0.5);
  -moz-box-shadow: 6px 6px 5px 0px rgba(45,45,45,0.5);
  box-shadow: 6px 6px 5px 0px rgba(45,45,45,0.5); */
}

section.partnership .content .box img {
  width: 100%;
  padding: 1%;
}

section.partnership .content .box h1.article-title {
  margin-bottom: 20px;
  color: #2d2d2d;
  font-size: 32px;
}

section.partnership .content .col-md-8 .article .col-md-6 p.hashtag {
  margin-top: 20px;
  font-weight: bold;
  font-size: 14px;
  font-style: italic;
  color: #ff7061;
}

section.partnership .content .col-md-8 .article .col-md-6 .article-tag {
  text-align: right;
  font-weight: bold;
  color: #ff7061;
}

section.partnership .content .col-md-8 .article .col-md-6 .article-text {
  margin: 35px 10px;
  text-align: justify;
}

section.partnership .content .col-md-8 .article .col-md-6 .article-button {
  text-align: center;
}

section.partnership .content .col-md-8 .article .col-md-6 .article-button input {
  padding: 5px 10px;
  border: 0;
  background-color: #ff7061;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

section.partnership .content .col-md-8 .partnership .partner {
  text-align: center;
}

section.partnership .content .col-md-8 .partnership .partner img {
  width: 80%;
  background-color: #ffffff;
  padding: 0.5%;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(255,3,94,1);
  -moz-box-shadow: 0px 0px 10px 3px rgba(255,3,94,1);
  box-shadow: 0px 0px 10px 3px rgba(255,3,94,1);
}

section.partnership .content .col-md-4 .sidebar {
  margin-left: 60px;
  max-width: 320px;
}

section.partnership .content .col-md-4 .sidebar:first-child {
  /* margin-top: 110px; */
}

section.partnership .content .col-md-4 .sidebar:not(:last-child) {
  margin-bottom: 40px;
}

section.partnership .content .col-md-4 .sidebar h2 {
  line-height: 50px;
  margin-bottom: 0;
  color: #ffffff;
  background-color: #ff7061;
  font-size: 30px;
  text-align: center;
  width: 100%;
}

section.partnership .content .col-md-4 .sidebar img {
  max-width: 100%;
}

section.partnership .content .col-md-4 .sidebar .sidebar-social {
  box-shadow: 0px 6px 5px 0px rgba(45,45,45,0.5);
}

section.partnership .content .col-md-4 .sidebar .sidebar-social .social-icons {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
}

section.partnership .content .col-md-4 .sidebar .sidebar-social .social-icons a {
  color: #2d2d2d;
  margin-right: 10px;
  text-decoration: none;
}

/*
** Contact
*/
section.contact {
  padding: 5rem 10%;
}

section.contact .content {
  text-align: center;
}

section.contact .content .col-md-12 h2.title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 3rem;
  color: #2d2d2d;
  position: relative;
}

/* section.contact .content .col-md-12 h2.title::before {
  content: "";
  width: 7%;
  border-bottom: solid 2px #2d2d2d;
  position: absolute;
  center: 0;
  bottom: 0;
  z-index: 1;
} */

section.contact .content .col-md-12 form input {
  text-align: center;
  padding: 0;
  background-color: #ff7061;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  border: 0;
  border-radius: 20px;
  line-height: 40px;
  cursor: pointer;
}

/*
** Footer
*/

footer {
  padding: 1rem;
  background-color: #2d2d2d;
  text-align: center;
  color: #ffffff;
}

footer p.copyright {
  margin: 5px;
  color: #777777;
}

footer div.footer-menu {
  margin: 30px 0;
}

footer div.footer-menu a {
  display: inline-block;
  margin: 0 20px;
  color: #ffffff;
  text-decoration: none;
  outline: 0;
}

footer div.footer-social {
  margin: 30px 0;
}

footer div.footer-social a {
  display: inline-block;
  margin: 0 5px;
  color: #ffffff;
  text-decoration: none;
  outline: 0;
}
